.visiting_card{
    background-color: hsl(137deg 100% 58%);
    padding: 10px;
    width: 330px;
}

p{
    margin: 4px;
    font-family: 'Poppins', sans-serif;
   
}

.companyname{
    /* text-align: right; */
    margin-left: 138px;
    font-family: 'Pacifico', cursive;
    font-size: 24px;
    font-weight: bold;